{% extends 'base.html.twig' %}
{% block title %}BikeLando - O nas{% endblock %}

{% block body %}
    <div class="row" id="zakladki">
        <div class="col">
            <div class="card bg-transparent border-dark">
                <div class="card-body">
                    <h5 class="card-title">O nas</h5>
                    <p class="card-text">
                        Jesteśmy grupą młodych ludzi, którzy
                    </p>
                </div>
                <div class="card-footer bg-transparent border-dark">
                    <small class="text-muted">15.06.2020</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
