{% extends 'base.html.twig' %}

{% block title %}BikeLando - Twoje konto{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="row" id="zakladki">
        <div class="col">
            <div class="card bg-transparent border-dark">
                <div class="card-body">
                    <h5 class="card-title">Twoje Konto</h5>
                    <p class="card-text">Tu wyświetlane dane usera i może jakieś statystyki np ile razy juz okrazyl ziemie.</p>
                    <a class="nav-link btn btn-outline-dark" href="{{ path('edit',{'id':app.user.email}) }}">Edytuj</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if app.user == null %}
        <div class="alert alert-danger" role="alert">
            Część dostępna wyłącznie dla użytkowników portalu, cofnij się do części dostępnej powszechnie <a href="{{ path('index') }}" class="alert-link"> Kliknij </a>.
        </div>
    {% endif %}
{% endblock %}