{% extends 'base.html.twig' %}
{% block title %}BikeLando - Reset hasła{% endblock %}
{% block body %}
    <!-- informacja o odzyskiwaniu hasła -->
    <div class="row" id="zakladki">
        <div class="col">
            <div class="card-group">
                <div class="card bg-transparent border-dark">
                    <div class="card-body">
                        <h5 class="card-title">Przypomnij hasło</h5>
                        Jeżeli zapomniałeś hasła, skontaktuj się z administratorem strony.
                    </div>
                </div>
            </div>
        </div>
{% endblock %}